:global {
  .ant-select {
    &.ant-select-enabled {
      outline: none;
    }
  }
  .ant-select-focused {
    .ant-select-selection {
      &:focus,
      &:active {
        box-shadow: none;
      }
    }
  }
  .ant-select-dropdown-menu {
    background-color: #fff;
    color: #888;
    margin: 5px;
    .ant-select-dropdown-menu-item {

      border-radius: 4px;
      margin-bottom: 5px;
      &:first-child{
        background-color: #fff;
      }
      &:hover{
          background-color: #4a90e2;
          color: #fff;
          border-radius: 4px;
      }
    }
  }
  .ant-select-selection-selected-value {
    font-weight: normal;
  }
  .ant-select-selection--multiple{
    min-width:500px;
  }
  .ant-select-dropdown--multiple{
    z-index: 999999;
  }
}
