{
  "plugins": ["babel", "react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "window": true,
    "Promise": true,
    "INFINITY": true,
    "module": true,
    "require": true,
    "UploadeManager": true,
    "Symbol": true
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/no-children-prop" : 0,
    "react/no-deprecated" : 0
  }
}
