.container {
  position: relative;
  .commentBarDot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #0ed5c9;
    border: solid 1px #ffffff;
    position: absolute;
    bottom: 34px;
    margin-left: -3px;
    cursor: pointer;
  }
}
