:global{
  .confirmBoxWrapper{
    .actionButtons{
      text-align: right;
      margin-top: 25px;
      div{
        display: inline-block;
      }
    }
    h2{
      color:#2A2E36;
      font-size:14px;
      font-weight: 600;
    }
  }

}
