@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?l4tjp7');
  src: url('fonts/icomoon.eot?l4tjp7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l4tjp7') format('truetype'),
    url('fonts/icomoon.woff?l4tjp7') format('woff'),
    url('fonts/icomoon.svg?l4tjp7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .icon-library:before {
    content: '\e900';
  }
  .icon-notification:before {
    content: '\e901';
  }
  .icon-userGroup:before {
    content: '\e902';
  }
  .icon-bookmark:before {
    content: '\e903';
  }
  .icon-google:before {
    content: '\e800';
  }
  .icon-TagLine:before {
    content: '\e904';
  }
  .icon-alert:before {
    content: '\e905';
  }
  .icon-arrowUpRight:before {
    content: '\e906';
  }
  .icon-dislikeFill:before {
    content: '\e907';
  }
  .icon-dislike:before {
    content: '\e908';
  }
  .icon-likeFill:before {
    content: '\e909';
  }
  .icon-like:before {
    content: '\e90a';
  }
  .icon-Learners:before {
    content: '\e90b';
  }
  .icon-InviteIndividualLearners:before {
    content: '\e90c';
  }
  .icon-InviteLearnerGroups:before {
    content: '\e90d';
  }
  .icon-UploadNewList:before {
    content: '\e90e';
  }
  .icon-addComment:before {
    content: '\e90f';
  }
  .icon-collapseAll:before {
    content: '\e910';
  }
  .icon-filter:before {
    content: '\e911';
  }
  .icon-moreHorizontal:before {
    content: '\e912';
  }
  .icon-moreVertical:before {
    content: '\e913';
  }
  .icon-userProfile:before {
    content: '\e914';
  }
  .icon-facebook:before {
    content: '\e915';
  }
  .icon-googlePlus:before {
    content: '\e916';
  }
  .icon-linkedIn:before {
    content: '\e917';
  }
  .icon-twitter:before {
    content: '\e918';
  }
  .icon-close:before {
    content: '\e919';
  }
  .icon-checkboxOff:before {
    content: '\e91a';
  }
  .icon-checkboxOn:before {
    content: '\e91b';
  }
  .icon-attachment:before {
    content: '\e91c';
  }
  .icon-googleLogo:before {
    content: '\e91d';
  }
  .icon-series_outline:before {
    content: '\e91e';
  }
  .icon-help:before {
    content: '\e91f';
  }
  .icon-right_arrow_wide:before {
    content: '\e920';
  }
  .icon-duplicate:before {
    content: '\e921';
  }
  .icon-info:before {
    content: '\e922';
  }
  .icon-todo:before {
    content: '\e923';
  }
  .icon-search:before {
    content: '\e924';
  }
  .icon-more_horizontal:before {
    content: '\e925';
  }
  .icon-menu:before {
    content: '\e926';
  }
  .icon-more_vertical:before {
    content: '\e927';
  }
  .icon-tick:before {
    content: '\e928';
  }
  .icon-cross:before {
    content: '\e929';
  }
  .icon-delete:before {
    content: '\e92a';
  }
  .icon-move:before {
    content: '\e92b';
  }
  .icon-edit:before {
    content: '\e92c';
  }
  .icon-Collapse:before {
    content: '\e92d';
  }
  .icon-ES_Build:before {
    content: '\e92e';
  }
  .icon-calender:before {
    content: '\e92f';
  }
  .icon-Checklist_graphic:before {
    content: '\e930';
  }
  .icon-sign_out:before {
    content: '\e931';
  }
  .icon-Profile:before {
    content: '\e932';
  }
  .icon-list:before {
    content: '\e933';
  }
  .icon-underline:before {
    content: '\e934';
  }
  .icon-italics:before {
    content: '\e935';
  }
  .icon-right_arrow:before {
    content: '\e936';
  }
  .icon-bold:before {
    content: '\e937';
  }
  .icon-Learner:before {
    content: '\e938';
  }
  .icon-Download:before {
    content: '\e939';
  }
  .icon-Remind:before {
    content: '\e93a';
  }
  .icon-left_arrow:before {
    content: '\e93b';
  }
  .icon-Sort_Up:before {
    content: '\e93c';
  }
  .icon-barcode:before {
    content: '\e93d';
  }
  .icon-Sort_Down:before {
    content: '\e93e';
  }
  .icon-Upload:before {
    content: '\e93f';
  }
  .icon-Analytics:before {
    content: '\e940';
  }
  .icon-Export:before {
    content: '\e941';
  }
  .icon-RadioButton_on:before {
    content: '\e942';
  }
  .icon-RadioButton_off:before {
    content: '\e943';
  }
  .icon-Comment:before {
    content: '\e944';
  }
  .icon-left_triangle:before {
    content: '\e945';
  }
  .icon-right_triangle:before {
    content: '\e946';
  }
  .icon-down_triangle:before {
    content: '\e947';
  }
  .icon-Checklist:before {
    content: '\e948';
  }
  .icon-Cancel:before {
    content: '\e949';
  }
  .icon-Confirm:before {
    content: '\e94a';
  }
  .icon-Plus:before {
    content: '\e94b';
  }
  .icon-Up_arrow:before {
    content: '\e94c';
  }
  .icon-Down_arrow:before {
    content: '\e94d';
  }
  .icon-first_live:before {
    content: '\e94e';
  }
  .icon-tag:before {
    content: '\e94f';
  }
  .icon-group-icon:before {
    content: '\e950';
  }
  .icon-program:before {
    content: '\e951';
  }
  .icon-Remove:before {
    content: '\e952';
  }
  .icon-right_arrow2:before {
    content: '\e953';
  }
  .icon-add:before {
    content: '\e954';
  }
  .icon-announcement:before {
    content: '\e955';
  }
  .icon-attachement:before {
    content: '\e956';
  }
  .icon-cancel:before {
    content: '\e957';
  }
  .icon-delete2:before {
    content: '\e958';
  }
  .icon-down_caret:before {
    content: '\e959';
  }
  .icon-down_fillcaret:before {
    content: '\e95a';
  }
  .icon-drag:before {
    content: '\e95b';
  }
  .icon-duplicate2:before {
    content: '\e95c';
  }
  .icon-edit2:before {
    content: '\e95d';
  }
  .icon-help2:before {
    content: '\e95e';
  }
  .icon-info2:before {
    content: '\e95f';
  }
  .icon-left_caret:before {
    content: '\e960';
  }
  .icon-left_fillcaret:before {
    content: '\e961';
  }
  .icon-more_horizontal2:before {
    content: '\e962';
  }
  .icon-more_vertical2:before {
    content: '\e963';
  }
  .icon-move2:before {
    content: '\e964';
  }
  .icon-right_caret:before {
    content: '\e965';
  }
  .icon-right_fillcaret:before {
    content: '\e966';
  }
  .icon-search2:before {
    content: '\e967';
  }
  .icon-settings:before {
    content: '\e968';
  }
  .icon-step_arrow:before {
    content: '\e969';
  }
  .icon-swap:before {
    content: '\e96a';
  }
  .icon-tick2:before {
    content: '\e96b';
  }
  .icon-to_dos:before {
    content: '\e96c';
  }
  .icon-up_caret:before {
    content: '\e96d';
  }
  .icon-up_fillcaret:before {
    content: '\e96e';
  }
  .icon-add2:before {
    content: '\e96f';
  }
  .icon-info_without_circle:before {
    content: '\e970';
  }
  .icon-reviewApproved:before {
    content: '\e971';
  }
  .icon-expandAll:before {
    content: '\e972';
  }
  .icon-peak:before {
    content: '\e973';
  }
  .icon-editSchedule:before {
    content: '\e974';
  }
  .icon-Export1:before {
    content: '\e975';
  }
  .icon-Reviewers:before {
    content: '\e976';
  }
  .icon-reorderList:before {
    content: '\e977';
  }
}
