// global colors
$color-brand: #f58f5e;
$color-white: #fff;
$color-black: #000;
$color-grey: #666;
$color-charcoal: #333333;
$color-fossil: #888;
$color-lightgrey: #eeeeee;

// background color variables
$bg-color-white: #ffffff;
$bg-color-cerulean: #0072bc;
$bg-color-red: #d93535;
$bg-color-gold: #f39c12;
$bg-color-lightgrey: #eeeeee;
$bg-color-header: #f9f9f9;

// border colors variables
$border-color-gold: #e67e22;
$border-color-cloud: #cdcdcd;
$border-color-grey: #cccccc;
$border-color-lightgrey: #eeeeee;

// links color-variables
$link-color-cerulean: #0072bc;
$link-color-hover: #2a6496;

// checkbox color-variables
$checkbox-color-cloud: #cacaca;
$checkbox-color-fossil: #888888;
$checkbox-color-silver: #b5cad9;

// buttons color-variables
$btn-bgcolor-white: #fff;
$btn-bgcolor-cerulean: #0072bc;
$btn-bgcolor-cerulean-disabled: rgba(131, 186, 222, 0.5);

// placeholder color variables
$placeholder-color: #bcbcbc;

// icons color
$icon-color: #878787;
