.play {
  background: url(../../images/play-large.png) no-repeat 0px 0px transparent;
  top: 50%;
  left: 50%;
  width: 76px;
  height: 76px;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.playerContainer {
  height: 100%;
  cursor: pointer;
}

.hide {
  display: none;
}
